tokencost==0.1.12
anthropic==0.34.2
boto3==1.34.159
colorama==0.4.4
ln_markets==2.0.5
openai==1.44.1
pandas==2.0.3
python-dotenv==1.0.1
pytz==2024.1
streamlit==1.12.0
yfinance==0.2.37
numpy==1.26.4
altair==4.0